@use 'variables' as *;
@use 'mixins' as *;
@use 'typography' as *;
#et-main-area {
    .cwp_et_pb_layout_slider_standard {
        &.productCarousel {
            .swiper-container {
                .swiper-wrapper {
                    .swiper-slide {
                        cursor: pointer;
                        .as_slide_image_wrapper {
                            position: relative;
                            &::after {
                                display: block;
                                font-family: $body-font !important;
                                content: 'View' !important;
                                text-transform: uppercase;
                                letter-spacing: 0.1em;
                                color: $tertiary-color;
                                @include absCenter();
                                background-color: $secondary-color;
                                padding: 0 1em 0.1em 1em;
                                border-radius: 1em;
                                font-weight: 700;
                                pointer-events: none;
                                opacity: 0;
                                transition: opacity 0.2s linear;
                            }
                            .as_slide_image {
                                .et_pb_image_wrap {
                                    &::after {
                                        content: '';
                                        display: block;
                                        position: absolute;
                                        top: 0;
                                        left: 0;
                                        display: block;
                                        width: 100%;
                                        height: 100%;
                                        background: rgba(255, 255, 255, 0.3);
                                        opacity: 0;
                                        transition: opacity 0.2s linear;
                                    }
                                }
                            }
                        }
                        &:hover {
                            .as_slide_image_wrapper {
                                &::after {
                                    opacity: 1;
                                }
                                .as_slide_image {
                                    .et_pb_image_wrap {
                                        &::after {
                                            opacity: 1;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .as-arrows-control {
                    position: absolute;
                    width: 100%;
                    top: 0;
                    left: 0;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    align-items: center;
                    gap: 1em;
                    justify-content: flex-end;
                    .as-prev,
                    .as-next {
                        position: relative;
                        line-height: 0;
                        aspect-ratio: 1;
                        height: 40px;
                        border-radius: 100px;
                        transition: background 0.2s linear;
                        > div {
                            line-height: 0;
                            aspect-ratio: 1;
                            height: 40px;
                            position: relative;
                            .custom_icon {
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                                transition: color 0.2s linear;
                            }
                        }
                        &:hover {
                            background-color: $quaternary-color;
                            .custom_icon {
                                color: $quaternary-color-lht !important;
                            }
                        }
                    }
                }
            }
        }
    }
}
