@use 'variables' as *;
@use 'mixins' as *;
@use 'typography' as *;

#et-main-area {
    .dropDownMenu {
        margin: 0;
        position: relative;
        > a {
            display: block;
            font-weight: 400;
            font-size: $fs-sm !important;
            color: $tertiary-color !important;
            padding: 0.5em 2em 0.5em 1em;
            width: 100%;
            margin: 0 auto;
            border: 1px solid $quaternary-color-lht;
            border-radius: 0.4em;
            background-color: $quaternary-color-lht;
            background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 68.09 39.24'%3e%3cdefs%3e%3cstyle%3e.cls-1%7bfill:%233e4f4a;%7d%3c/style%3e%3c/defs%3e%3cpath class='cls-1' d='M55.7,3.47,38.38,20.13a6.25,6.25,0,0,1-8.67,0L12.4,3.47,10.6,1.75A6.25,6.25,0,0,0,6.27,0h0A6.25,6.25,0,0,0,1.93,10.76L12.4,20.83,29.71,37.49a6.25,6.25,0,0,0,8.67,0L55.7,20.83,66.16,10.76A6.25,6.25,0,0,0,61.83,0h0a6.27,6.27,0,0,0-4.34,1.75Z'/%3e%3c/svg%3e");
            background-repeat: no-repeat, repeat;
            background-position: right 1em top 50%, 0 0;
            background-size: 0.65em auto, 100%;
            transition: all 0.2s ease-in-out !important;
            &:hover {
                border-color: $quaternary-color;
                color: $tertiary-color;
            }
            + .sub-menu {
                overflow: hidden;
                max-height: 0;
                transition: max-height 0.5s cubic-bezier(0, 1, 0, 1),
                    border 0.1s linear;
                position: absolute;
                top: 100%;
                width: 100%;
                border: none;
                background-color: $white-color;
                border-radius: 0.4em;
                margin-top: 0.2em;
                @include boxShadow();
                &::after {
                    content: '';
                    position: absolute;
                    height: calc(100% - 4px);
                    width: calc(100% - 4px);
                    top: 0;
                    left: 0;
                    border: solid 2px $quaternary-color-lht;
                    border-radius: 0.4em;
                    pointer-events: none;
                }
                li {
                    margin: 0;
                    padding: 0;
                    &:first-child {
                        margin-top: 0.5em !important;
                    }
                    &:last-child {
                        margin-bottom: 0.5em !important;
                    }
                    a {
                        font-weight: 400;
                        font-size: $fs-sm !important;
                        color: $tertiary-color !important;
                        padding: 0.3em 1em;
                        display: block;
                        &:hover {
                            background-color: rgba(0, 0, 0, 0.02);
                            color: $primary-color !important;
                        }
                    }
                    &.current-menu-item {
                        a {
                            color: $primary-color !important;
                            background-color: rgba(0, 0, 0, 0.02);
                        }
                    }
                }
            }
            &.open {
                border-color: $quaternary-color;
                box-shadow: none;
                color: $tertiary-color;
                outline: none;
                background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 68.09 39.24'%3e%3cdefs%3e%3cstyle%3e.cls-1%7bfill:%233e4f4a;%7d%3c/style%3e%3c/defs%3e%3cpath class='cls-1' d='M12.4,35.77,29.71,19.11a6.25,6.25,0,0,1,8.67,0L55.7,35.77l1.79,1.72a6.27,6.27,0,0,0,4.34,1.75h0a6.25,6.25,0,0,0,4.33-10.76L55.7,18.41,38.38,1.75a6.25,6.25,0,0,0-8.67,0L12.4,18.41,1.93,28.48A6.25,6.25,0,0,0,6.27,39.24h0a6.25,6.25,0,0,0,4.33-1.75Z' transform='translate(0)'/%3e%3c/svg%3e");
                + .sub-menu {
                    max-height: 1000px;
                    transition: max-height 1s ease-in-out;
                }
            }
        }
    }
}
