footer {
    .et_pb_text.footerHeader {
        border-bottom: 0.1rem solid $secondary-color;
        h4 {
            font-size: $fs-md;
        }
    }
    .widget_nav_menu {
        margin-bottom: 0;
    }
}
