.grForm {
    form {
        gap: 1em !important;
    }
    input[type="text"] {
        background-color: $grey-color;
        color: $tertiary-color;
        border: none;
        padding: 0.5em 1em;
        font-weight: 400;
        font-size: 1rem !important;
        line-height: $f-lh !important;
        min-height: 40px !important;
        width: 100%;
    }
    &.pluginSignUp {
        label {
            display: block;
            color: $white-color;
            font-size: $fs-sm;
            line-height: 1;
            padding-bottom: 0.3em;
        }
        .inputHint {
            font-size: $fs-xs;
            color: $white-color;
            line-height: 1;
            padding-top: 0.3em;
        }
        .et_pb_button {
            margin-top: 1em;
        }
        .invalid {
            box-shadow: 0 0 5px 1px $error-color;
            color: $error-color;
        }
    }
    input[type="submit"]:disabled {
        pointer-events: none !important;
        cursor: not-allowed !important;
        opacity: 0.6;
    }
    .alert {
        color: $white-color;
    }
}
