[data-form-theme='gravity-theme'] {
    .gform_fields {
        .gfield {
            legend {
                font-weight: 500;
            }
            select {
                padding: 0.5em 1em !important;
                font-weight: 400 !important;
                font-size: 1rem !important;
                line-height: 1.5 !important;
                min-height: 40px !important;
                border-radius: 0 !important;
            }
            .gfield_required {
                font-style: normal;
            }
        }
    }
    input[type='submit'] {
        line-height: 1.3em !important;
        max-height: 46px;
        padding: 0.5em 1.5em !important;
        outline: 0.1em solid transparent !important;
        &:hover {
            outline-offset: 0.4em;
            outline-color: $secondary-color !important;
        }
    }
}
.pedal-form {
    [data-form-theme='gravity-theme'] {
        .gform_fields {
            .gfield {
                padding: 1em;
                border: solid 1px $tertiary-color;
                border-radius: 1em;
                background-color: $white-color;
                > legend,
                > label {
                    padding: 4px 12px !important;
                    background-color: $tertiary-color;
                    color: $white-color;
                    font-size: 16px !important;
                    line-height: 1.5 !important;
                    border-radius: 10em;
                    @media (max-width: 768px) {
                        border-radius: 0.4rem;
                    }
                    .gfield_required {
                        color: $white-color;
                    }
                }
                &.gfield--type-email {
                    position: relative;
                    margin-top: 0.8rem;
                    padding-top: 2em;
                    label {
                        position: absolute;
                        top: 0;
                        left: 1rem;
                        transform: translateY(-50%);
                        display: inline-block;
                        padding: 0 0.6em;
                        font-weight: 600;
                        font-size: 0.9rem;
                        line-height: 1.1;
                        margin: 0;
                        user-select: none;
                        padding-inline: 8px;
                    }
                    input[type='email'] {
                        border-radius: 0.4rem;
                    }
                }
            }
            .gfield_radio {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 0.75rem 1.5rem;
                margin: 0;
                .gchoice {
                    display: flex;
                    align-items: center;
                    label {
                        font-weight: 400;
                        font-size: 16px;
                    }
                }
                @media (max-width: 600px) {
                    grid-template-columns: 1fr;
                }
            }
        }
        input[type='submit'] {
            width: 100%;
        }
    }
}
