@use 'variables' as *;
@use 'mixins' as *;
@use 'typography' as *;
#page-container {
    header {
        .et_pb_menu .menuSearchBtn {
            @media (max-width: 980px) {
                display: none;
            }
        }
        .et_pb_code.menuSearchBtn {
            display: none;
            cursor: pointer;
            color: $tertiary-color;
            position: absolute !important;
            top: 50%;
            right: 60px;
            transform: translateY(-40%);
            @media (max-width: 980px) {
                display: block;
            }
        }
        .et_pb_row.menuSearch {
            position: absolute !important;
            opacity: 0;
            pointer-events: none;
            max-height: 0;
            overflow: hidden;
            @include ease2();
            &.focus {
                overflow: visible;
                opacity: 1;
                height: auto;
                max-height: 1000px;
                pointer-events: all;
            }
        }
    }
}
