.pum-theme-lightbox {
    .pum-container {
		background: rgba(255,255,255,0.1)!important;
		z-index: 9;
		.pum-content {
			position: relative;
			display: block;
			height: 0;
			padding: 0;
			padding-bottom: 56.25%;
			iframe {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 100%;
				border: 0;
			}
		}
        &#popmake-45749 {
            .pum-content {
                height: auto;
                padding: 0;
            }
        }
		.pum-close {
			border-radius: 0!important;
			box-shadow: none!important;
			background: $white-color!important;
			background: rgba(255,255,255,0.1)!important;
			border-color: rgba(255,255,255,0)!important;
			color: $black-color!important;
			right: 0!important;
			top: -26px!important;
			margin: 0!important;
			padding: 0!important;
			line-height: 0!important;
			-webkit-box-shadow: 0px 0px 30px 0px rgba(2,2,2,1);
			-moz-box-shadow: 0px 0px 30px 0px rgba(2,2,2,1);
			box-shadow: 0px 0px 30px 0px rgba(2,2,2,1);
			@include ease2();
			&:hover {
				color: $white-color!important;
			}
		}
	}
}
.pum-theme-wampler {
    backdrop-filter: blur(2px);
    .pum-container {
        border-radius: 1.5em;
        .pum-content {
            border-radius: 1.5em;
            overflow: hidden;
            .et_pb_button {
                @include button();
                margin-top: 0.5em;
            }
            #et-boc .et-l .et_pb_row.fullWidth {
                width: 100%!important;
                max-width: 100%!important;
            }
        }
        .pum-close {
            @include ease2();
            text-align: center!important;
            box-sizing: content-box!important;
            height: auto!important;
            width: auto!important;
            padding: 9px 2px 16px 2px!important;
            line-height: 5px!important;
            &:hover {
                color: $tertiary-color;
            }
        }
    }
}