.product-recommendation {
    .product-recommendation-intro {
        color: $white-color;
        font-weight: 400;
        @media (min-width: 981px) {
            font-size: 22px;
        }
    }
    .product-recommendation-inner {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        .product-recommendation-details {
            padding-top: 100px;
            .product-recommendation-details-inner {
                display: grid;
                gap: 0.8em;
                background-color: $white-color;
                border-radius: 2em;
                border: solid 2px $white-color;
                padding: 2em;
                box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
                background-image: linear-gradient(
                    165deg,
                    #ffffff 0%,
                    #f5f5f5 77%
                );
                background-color: #ffffff;
                font-weight: 400;
                @media (max-width: 980px) {
                    padding: 1.4em;
                }
                h1 {
                    padding: 0;
                }
                .product-recommendation-excerpt {
                    @media (min-width: 981px) {
                        font-size: 22px;
                    }
                }
                .product-recommendation-price {
                    font-weight: bold;
                }
                .product-recommendation-buttons {
                    display: flex;
                    gap: 1em;
                    padding-top: 0.6em;
                    flex-wrap: wrap;
                }
            }
        }

        @media (max-width: 980px) {
            grid-template-columns: 1fr;
            .product-recommendation-details {
                padding-top: 50px;
                padding-bottom: 30px;
            }
        }
    }
    .button {
        padding: 0.3em 1em !important;
    }
    &.notice {
        color: $white-color;
    }
}
