#main-content {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: $header-font;
      font-weight: bold;
      line-height: $h-lh!important;
      color: $header-color;
      &::selection {
          color: $white-color;
          -webkit-text-fill-color: $white-color;
          background-color: $primary-color;
      }
    }
    h1 { 
        font-size: $fs-xl!important;
    }
    h2 { 
        font-size: $fs-lg!important;
    }
    h3 { 
        font-size: $fs-md!important;
        &#ship-to-different-address {
            font-size: $fs-std!important;
        }
    }
    h4, h5, h6 { 
        font-size: $fs-std!important;
    }
    .heroHeader {
        h1 {
            font-size: $fs-xxl!important;
        }
    }
    strong {
        font-weight: 500;
    }
}