&.woocommerce-checkout {
    input[type="checkbox"]#ship-to-different-address-checkbox {
        @include switch();
    }
    .woocommerce-form-login {
        .woocommerce-form-login__submit {
            @include drkBtn();
            font-size: 1.1rem!important;
        }
    }
    .checkout_coupon {
        .button[name="apply_coupon"] {
            margin-top: 0!important;
            @include drkBtn();
            font-size: 1.1rem!important;
        }
    }
    #order_review {
        #shipping_method {
            padding: 0;
            li {
                margin: 0;
            }
        }
    }
    .et_pb_wc_checkout_payment_info {
        #payment {
            ul.wc_payment_methods {
                padding: 0!important;
            }
        }
    }
}