@use 'variables' as *;

#et-main-area {
    .wp-pagenavi {
        a {
            &:hover {
                color: $tertiary-color !important;
            }
        }
        .current {
            color: $tertiary-color !important;
            font-weight: 500 !important;
        }
    }
}
