@use 'variables' as *;
@use 'mixins' as *;
@use 'typography' as *;
@use 'utilities' as *;
@use 'layouts' as *;
@use 'material_icons' as *;
@use 'et_pb_button' as *;
@use 'header' as *;
@use 'et_pb_text' as *;
@use 'et_pb_newsletter' as *;
@use 'et_pb_contact' as *;
@use 'et_pb_video_slider' as *;
@use 'anything_slider' as *;
@use 'parallax_hero' as *;
@use 'inputs' as *;
@use 'gravity_forms' as *;
@use 'comments' as *;
@use 'blog' as *;
@use 'dropdown_menu' as *;
@use 'artists' as *;
@use 'downloads' as *;
@use 'wp-pagenavi' as *;
@use 'product_recommendation' as *;
@use 'footer' as *;
@use 'berocket_filters' as *;
@use 'single_post' as *;
@use 'fibo_search' as *;
@use 'mapsvg' as *;
@use 'woocommerce' as *;
@use 'et_pb_scroll_top' as *;
@use 'pop_up_maker' as *;

// Then your CSS rules
body {
    #page-container {
        animation: fade100 1.5s;
    }
}
.grecaptcha-badge {
    visibility: hidden !important;
}
